    <div id="kt_content_container" class="container-xxl">
        <form id="Add" data-route-url="" class="form d-flex flex-column flex-lg-row"            
            data-form-submit-error-message="{{ __('site.form_submit_error')}}"
            data-form-agree-label="{{ __('site.agree') }}" 
            enctype="multipart/form-data">            
            <div class="d-flex flex-column gap-3 gap-lg-7 w-100 mb-2 me-lg-5">
                <div class="card card-flush py-0"> 
                    <div class="card-body pt-0">
                          <div class="d-flex flex-column gap-5 mt-2">                                            
      
                        </div>
                    </div>
                </div>
 
            </div>            
            <div class="d-flex flex-column flex-row-fluid gap-0 w-lg-400px gap-lg-5">
            
            </div>            
        </form>
    </div>