.fv-plugins-message-container--enabled {
    color: #f1416c;
  }


  .fv-plugins-bootstrap .has-danger .fv-plugins-icon {
    color: #dc3545;
  }
  

.my-field-error .fv-plugins-message-container,
.my-field-error .fv-plugins-icon {
font-size: 0.925rem;
color: #f1416c;

}
.fv-plugins-tachyons .fv-plugins-icon {
top: 30px;
}
.my-field-success .fv-plugins-message-container,
.my-field-success .fv-plugins-icon {
font-size: 0.925rem;
color: #28a745;
}
